body {
  padding-top: 50px;
}
/* 
   Navbar
*/
.navbar-bugs4me {
  background: -moz-linear-gradient(#402711 0%, #1F0F00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #402711), color-stop(100%, #1F0F00));
  background: -webkit-linear-gradient(#402711 0%, #1F0F00 100%);
  background: linear-gradient(#4027111 0%, #1F0F00 100%);
  background: #402711;
}
.navbar-bugs4me .navbar-brand {
  color: #d49d52;
}
.navbar-bugs4me .navbar-brand:hover,
.navbar-bugs4me .navbar-brand:focus {
  color: #543316;
  background-color: transparent;
}
.navbar-bugs4me .navbar-text {
  color: #d49d52;
}
.navbar-bugs4me .navbar-nav > li > a {
  color: #d49d52;
}
.navbar-bugs4me .navbar-nav > li > a:hover,
.navbar-bugs4me .navbar-nav > li > a:focus {
  color: #e3c08f;
  background-color: transparent;
}
.navbar-bugs4me .navbar-nav > .active > a,
.navbar-bugs4me .navbar-nav > .active > a:hover,
.navbar-bugs4me .navbar-nav > .active > a:focus {
  color: #2c1b0c;
  background-color: #e5be9c;
}
.navbar-bugs4me .navbar-nav > .disabled > a,
.navbar-bugs4me .navbar-nav > .disabled > a:hover,
.navbar-bugs4me .navbar-nav > .disabled > a:focus {
  color: #eacbb0;
  background-color: transparent;
}
.navbar-bugs4me .navbar-toggle {
  border-color: #e0b289;
}
.navbar-bugs4me .navbar-toggle:hover,
.navbar-bugs4me .navbar-toggle:focus {
  background-color: #e0b289;
}
.navbar-bugs4me .navbar-toggle .icon-bar {
  background-color: #683f1b;
}
.navbar-bugs4me .navbar-collapse,
.navbar-bugs4me .navbar-form {
  border-color: #e5be9c;
}
.navbar-bugs4me .navbar-nav > .open > a,
.navbar-bugs4me .navbar-nav > .open > a:hover,
.navbar-bugs4me .navbar-nav > .open > a:focus {
  color: #2c1b0c;
  background-color: #e5be9c;
}
@media (max-width: 767px) {
  .navbar-bugs4me .navbar-nav .open .dropdown-menu > li > a {
    color: #d49d52;
  }
  .navbar-bugs4me .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-bugs4me .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e3c08f;
    background-color: transparent;
  }
  .navbar-bugs4me .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-bugs4me .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-bugs4me .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #2c1b0c;
    background-color: #e5be9c;
  }
  .navbar-bugs4me .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-bugs4me .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-bugs4me .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #eacbb0;
    background-color: transparent;
  }
}
.navbar-bugs4me .navbar-link {
  color: #d49d52;
}
.navbar-bugs4me .navbar-link:hover {
  color: #e3c08f;
}
.navbar-bugs4me .btn-link {
  color: #d49d52;
}
.navbar-bugs4me .btn-link:hover,
.navbar-bugs4me .btn-link:focus {
  color: #e3c08f;
}
.navbar-bugs4me .btn-link[disabled]:hover,
fieldset[disabled] .navbar-bugs4me .btn-link:hover,
.navbar-bugs4me .btn-link[disabled]:focus,
fieldset[disabled] .navbar-bugs4me .btn-link:focus {
  color: #eacbb0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #e3c08f;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #402711;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #428bca;
  outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

/* Footer */
footer-drop {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Container CSS */
html, body {
  height: 100%;
}

.container-format {
  padding-top: 50px;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0px;
}

/* Carousel CSS added */
.carousel, .item, .active {
  height:100%;
}

.carousel-inner {
  height:100%;
}

/* Add scrolling to the bottom of the page. */
.carousel {
margin-bottom: 60px;
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  background-color: #777;
}

.carousel .carousel-inner .bg {
  background-repeat:no-repeat;
  background-size:cover;
}

.carousel .carousel-inner .bg1 {
  background-image:url("../images/butterfly.jpg");
  background-position: center center; /* center top */
}

.carousel .carousel-inner .bg2 {
  background-image:url("../images/dragonfly.jpg");
  background-position: center center;
}

.carousel .carousel-inner .bg3 {
  background-image:url("../images/bee.jpg");
  background-position: center center; /* center bottom */
}

.carousel .carousel-inner .bg4 {
  background-image:url("../images/grasshopper.jpg");
  background-position: center center; /* center bottom */
}

/* Menu */
.bug-a-boo {
  width:50px;
  height:50px;
  padding: 0px;
  margin: 0px;
  text-align:initial;
  font-family:Times, "Times New Roman", Georgia, serif;
}

.brand {
  font-family:"Times New Roman", Times, serif;
  font-size:20px;
}

 .navbar-brand {
 position: fixed;    
 overflow: visible;
 padding-left: 0;    
 padding-top: 0;
}

.login {
  float:right;
  margin-right:15px;
}

/* Maximum window size - login button aligns properly */
@media (max-width: 767px) {
  .login {
  float: left;
  }
}

/* Login */
.loginLinks a,
.registerLinks a {
  margin-right:15px;
}

/* Admin Menu */

/* Base Styles */
#leftNavMenu,
#leftNavMenu ul,
#leftNavMenu li,
#leftNavMenu a {
  margin: 0px;
  padding: 0px;
  border: 0px;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  position: relative;
}
#leftNavMenu {
  border-bottom: 4px solid #3A230F;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#leftNavMenu a {
  line-height: 1.3;
}

#leftNavMenu > ul > li:first-child ,
#leftNavMenu > ul > li:first-child:hover
{
  background: #402711;
  background: -moz-linear-gradient(#402711 0%, #1F0F00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #402711), color-stop(100%, #1F0F00));
  background: -webkit-linear-gradient(#402711 0%, #1F0F00 100%);
  background: linear-gradient(#4027111 0%, #1F0F00 100%);
  border: 1px solid #29180A;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

#leftNavMenu > ul > li:first-child > a {
  padding: 15px 10px;
  background: url(/images/pattern.png) top left repeat;
  border: none;
  border-top: 1px solid #8C5D23;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  text-shadow: 0 -1px 1px #000000;
}
#leftNavMenu > ul > li:first-child > a > span {
  padding: 0;
}
/* Header hoover
#leftNavMenu > ul > li:first-child:hover {
  background: #3D1F00;
  background: -moz-linear-gradient(#3D1F00 0%, #3A230F 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3D1F00), color-stop(100%, #3A230F));
  background: -webkit-linear-gradient(#3D1F00 0%, #3A230F 100%);
  background: linear-gradient(#3D1F00 0%, #3A230F 100%);
}
*/

#leftNavMenu > ul > li {
  background: #5D732F;
  background: -moz-linear-gradient(#5D732F 0%, #131709 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5D732F), color-stop(100%, #131709));
  background: -webkit-linear-gradient(#5D732F 0%, #131709 100%);
  background: linear-gradient(#5D732F 0%, #131709 100%);
}
#leftNavMenu > ul > li:hover {
  background: #005200;
  background: -moz-linear-gradient(#005200 0%, #002400 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #38451C), color-stop(100%, #002400));
  background: -webkit-linear-gradient(#005200 0%, #002400 100%);
  background: linear-gradient(#005200 0%, #002400 100%);
}
#leftNavMenu > ul > li > a {
  font-size: 14px;
  display: block;
  background: url(/images/pattern.png) top left repeat;
  color: #ffffff;
  border: 1px solid #336600;
  border-top: none;
  text-shadow: 0 -1px 1px #003300;
}
#leftNavMenu > ul > li > a > span {
  display: block;
  padding: 12px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#leftNavMenu > ul > li > a:hover {
  text-decoration: none;
}
#leftNavMenu > ul > li.leftNavMenuActive {
  border-bottom: none;
}
#leftNavMenu > ul > li.leftNavSubMenu > a span {
  background: url(/images/icon_plus.png) 96% center no-repeat;
}
#leftNavMenu > ul > li.leftNavSubMenu.leftNavMenuActive > a span {
  background: url("/images/icon_minus.png") 96% center no-repeat;
}
/* Sub menu */
#leftNavMenu ul ul {
  display: none;
  background: #fff;
  border-right: 1px solid #3D2900;
  border-left: 1px solid #3D2900;
}
#leftNavMenu ul ul li {
  padding: 0;
  border-bottom: 1px solid #34280F;
  border-top: none;
  background: #DECEAD;
  background: -moz-linear-gradient(#DECEAD 0%, #D6C299 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DECEAD), color-stop(100%, #D6C299));
  background: -webkit-linear-gradient(#DECEAD 0%, #D6C299 100%);
  background: linear-gradient(#DECEAD 0%, #D6C299 100%);
}
#leftNavMenu ul ul li:last-child {
  border-bottom: none;
}
#leftNavMenu ul ul a {
  padding: 10px 10px 10px 25px;
  display: block;
  color: #6B4724;
  font-size: 12px;
  font-weight: normal;
}
#leftNavMenu ul ul a:before {
  content: "»";
  position: absolute;
  left: 10px;
  color: #006600;
}
#leftNavMenu ul ul a:hover {
  color: #006600;
}

/* Grid */
.table > thead > tr {
border-top: 2px solid green;
}

.table > thead > tr > th {
  border-bottom: 2px solid green;
}

.table > thead {
  background-color: #e9daaf;
}

tbody#tableRowCol > tr {
border-bottom: 1px solid brown;
}

.table-hover > tbody > tr:hover > td {
  background-color: #fbf9f1;
}

.tableNav input[type="submit"]:hover,
.tableNav a[type="submit"]:hover {
   color:#a5682a; 
}

.tableNav input:focus { 
    outline: none;
    border-color: #ca7e39;
    box-shadow: 0 0 10px #ca7e39;
}

.tableNav div{
  display: inline;
}

#tableRows {
    margin-top: 1px;
    margin-right: 10px;
    padding: 2px 8px 3px;
    border: 1px solid #dbb691;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(133,142,183,0.3);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#tableRows:focus {
  outline-color: #f9f1e8;
  outline-width: thin;
}

.btn-mini {
    color: #fff;
    font-size: .8em;
    /*padding: 4px 12px 5px;*/
    border: 1px solid #dbb691;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(133,142,183,0.3);
    
    -moz-border-radius: 5px;
    /*-webkit-border-radius: 5px;*/
     border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #402711;
    
    box-shadow:
        0 1px 0 rgba(133,142,183,.08),
        inset 0 1px 2px rgba(117,108,63,.67),
        inset 0 -1px 0 rgba(133,142,183,.14);
    
    
background-image: #f3e2c7; /* Old browsers */
background-image: -moz-linear-gradient(top,  #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%); /* FF3.6+ */

background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3e2c7), color-stop(50%,#c19e67), color-stop(51%,#b68d4c), color-stop(100%,#e9d4b3)); /* Chrome,Safari4+ */
/*
background-image: -webkit-linear-gradient(top,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* Chrome10+,Safari5.1+ */
/*
background-image: -o-linear-gradient(top,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* Opera 11.10+ */
/*
background-image: -ms-linear-gradient(top,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* IE10+ */
/*
background-image: linear-gradient(to bottom,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* W3C */
/*
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */

    /*
    background-image: -moz-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
    background-image: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,226,199,1)), color-stop(50%, rgba(193,158,103,1)), color-stop(51%, rgba(182,141,76,1)), color-stop(100%, rgba(233,212,179,1)));
    background-image: -webkit-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
    background-image: -o-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
    background-image: -ms-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
    background-image:  linear-gradient(to bottom, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
    */
}

.btn-text {
  padding: none;
  width: 60px;
  color: light brown;
}

.currentPage {
  padding: none;
  width: 40px;
  background-color: white;
  color: white;
}

.totalPages {
  padding: none;
  width: 60px;
  color: light brown;
}

/* jAlert styles */
.glyphicon-remove {
    color:red;
    background-color:transparent;
    border-radius:1em;
    text-align:bottom;
}

.glyphicon-pencil {
    color:#FFFF66;
    background-color:transparent;
    border-radius:1em;
}

.glyphicon-plus {
    color:blue;
    background-color:transparent;
    border-radius:1em;
}

.glyphicon-folder-open {
    color:tan;
    background-color:transparent;
    border-radius:1em;
}

.bootbox-images {
   width:1.4em;
   height:1.4em;
}

/* Original grey scale

.btn-mini {
    color: #fff;
    padding: 4px 8px 5px;
    border: 1px solid #9fa3a7;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #008fcf;
    box-shadow:
        0 1px 0 rgba(0,0,0,.08),
        inset 0 1px 2px rgba(255,255,255,.67),
        inset 0 -1px 0 rgba(0,0,0,.14);
    background-image: -moz-linear-gradient(90deg, #a3a9ad 0%, #c5c9cd 100%);
    background-image: -o-linear-gradient(90deg, #a3a9ad 0%, #c5c9cd 100%);
    background-image: -webkit-linear-gradient(90deg, #a3a9ad 0%, #c5c9cd 100%);
    background-image: linear-gradient(90deg, #a3a9ad 0%, #c5c9cd 100%);
}
*/

textarea {
  width:100%;
}

/* all map containers must be full height */
/* html, body, .container-fluid, .panel-group, .panel, .panel-collapse, .panel-body, .form-group, #embedMap { height: 100% } */

#embedMap {

 	height: 100%;
}

/* Auto Complete Combo box */

/* 
   File Upload
*/
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
/*
    position: absolute;



}
*/